<%= render 'shared/navbar' %>

<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="research">
        <h2>I'm the research</h2>
      </div>
      <% @combis.each do |combi| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <%= render 'cards', combi: combi %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map">
    <h2>MAP</h2>
  </div>
</div>
