<div class="white-wrapper">
  <div class="main-container">
    <div class="content">
      <div class= "cards-container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class= "card-research">
              <%= render '/shared/searchform' %>
            </div>
          </div>
          <% @combis.each do |combi| %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <%= render 'cards', combi: combi %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>
</div>

<%= render 'shared/footer' %>
