// Define variables for your color scheme

// For example:
$red: #B92B46;
$blue: #77D8E1;
$yellow: #F9D107;
$orange: #E67E22;
$green: #00CA9F;
$gray: #3B444D;
$light-gray: #F4F4F4;
$black: #000000;
$white: #FFFFFF;
