@import "colors";
@import "fonts";

h1, h2, h3, h4, h5 {
  font-family: $headers-font;
}

p {
  font-family: $body-font;
  color: #3B444D
}

h1 {
  color: $yellow;
}

h2, h3 {
  color: $gray;
}

h4 {
  color: $gray;
}

h5 {
  color: $blue;
}

label {
  color: $white;
}

small {
  color: $black;
}
