<div class="navbar-combi">
  <!-- Logo -->
  <div>
    <a href="/" class="navbar-wagon-brand">
      <%= link_to image_tag("logo.jpg"), "/", class: "navbar-combi-brand" %>
    </a>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-combi-right hidden-xs hidden-sm">

    <a href="" class="nacombi-item navbar-combi-link">Share a combi</a>
    <a href="" class="navbar-combi-item navbar-combi-link">Sign up / Sign in</a>

  </div>

</div>
