.reservation_card {
  background-color: $light-gray;
  text-align: center;
  border-radius: 4px;
  border: solid #F4F4F4;
  border-width: 1px;
  padding: 40px;
}

.combi_info {
  background-color: white;
  text-align: center;
  border-radius: 4px;
  border: solid #F4F4F4;
  border-width: 1px;
  padding: 40px;
}

.model {
  top: 10px;
  left: 10px;
  border-bottom: solid #F4F4F4;
  border-width: 1px;
  margin-bottom: 50px;
}

.combi_review {
  background-color: $light-gray;
  text-align: center;
  border-radius: 4px;
  border: solid #F4F4F4;
  border-width: 1px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;

}

.border_around {
  border: solid #F4F4F4;
  border-width: 1px;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
}

.review_title {
  min-height: 30px;
  flex-grow: 1;
}

.review_content {
  width: 100%;
  margin-bottom: 10px;
}

.review_rating {
  min-width: 50px;
}

.without_deco {
  list-style: none;
  padding-inline-start: 0px;
}
