.main-container {
  display: flex;
  margin-top: 25px;
}

#map {
  flex: 0 0 450px;
  position: sticky !important;
  height: calc(100vh - 70px);
  background-color: yellow;
  text-align: center;
}

.research {
  background-color: yellow;
  height: 200px;
  padding: 20px;
  width: 100%;
}

.content {
  flex-grow: 1;
}
