<form method="get" action="<%= combis_path %>" class="flex-form">
  <div class="form-case">
    <input type="search" placeholder="City?" />
  </div>
  <div class="form-case">
    <label for="from">From</label>
  </div>
  <div class="form-case">
    <input type="date" name="from" />
  </div>
  <div class="form-case">
    <label for="to">To</label>
  </div>
  <div class="form-case">
    <input type="date" name="to" />
  </div>
  <div class="form-case">
    <input type="submit" class="submit" value="Search" />
  </div>
</form>
